p{ color: green; font-size: 20px; text-align: center; }

.paragrafo{ color: red; font-size: 20px; text-align: center; } 

#outro{ color: purple; font-size: 20px; text-align: center; }


.botao{ background-color: blue; font-size: 20px; text-align: center; }

#sera{ background-color: orange; font-size: 20px; text-align: center; }